<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.reim.mylibrary">

    <application>
        <activity
                android:name=".MyLibraryMainActivity"
                android:label="@string/title_activity_my_library_main"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>